body{
margin:0;
font-family:Arial;
background:radial-gradient(circle,#0b0020,#000);
color:white;
}

.topbar{
display:flex;
gap:15px;
align-items:center;
padding:20px;
background:#12001a;
box-shadow:0 0 25px #ff2fd0;
}

.topbar h1{
color:#ff2fd0;
line-height:0.9;
margin-right:auto;
}

input,select,button{
padding:8px;
border:none;
border-radius:6px;
}

button{
background:#00ffe7;
cursor:pointer;
}

.tv-section{
display:flex;
justify-content:center;
padding:40px;
}

.tv-frame{
width:900px;
height:500px;
background:black;
padding:20px;
border-radius:25px;
box-shadow:0 0 50px #00ffe7;
}

.tv-frame iframe{
width:100%;
height:100%;
border-radius:15px;
}

.shelves{
padding:40px;
}

.movie-row{
display:flex;
gap:20px;
flex-wrap:wrap;
}

.movie-card{
width:160px;
background:#1b1b2f;
padding:10px;
border-radius:10px;
text-align:center;
cursor:pointer;
box-shadow:0 0 10px #ff2fd0;
}

.movie-card:hover{
transform:scale(1.05);
}

.movie-card img{
width:100%;
border-radius:6px;
}

.favorite{
color:gold;
font-size:20px;
cursor:pointer;
}
