body{
margin:0;
font-family:Arial;
color:white;
background:url("ChatGPT Image 4 feb. 2026 09_12_47.png") center/cover fixed;
}

.topbar{
display:flex;
gap:10px;
align-items:center;
padding:15px;
background:rgba(0,0,0,0.7);
box-shadow:0 0 20px #ff2fd0;
}

.topbar h1{
color:#ff2fd0;
line-height:0.9;
margin-right:auto;
}

input,select,button{
padding:8px;
border-radius:6px;
border:none;
}

button{
background:#00ffe7;
cursor:pointer;
}

.room{
backdrop-filter:blur(2px);
min-height:100vh;
}

.tv{
display:flex;
justify-content:center;
padding:40px;
}

.tv iframe{
width:900px;
height:500px;
border-radius:25px;
box-shadow:0 0 50px #00ffe7;
border:none;
}

.movies{
padding:40px;
}

#grid{
display:grid;
grid-template-columns:repeat(auto-fill,160px);
gap:20px;
}

.card{
background:#1b1b2f;
padding:10px;
border-radius:10px;
text-align:center;
cursor:pointer;
box-shadow:0 0 10px #ff2fd0;
transition:.2s;
}

.card:hover{
transform:scale(1.05);
}

.card img{
width:100%;
border-radius:6px;
}
