body{
background:#0b0b14;
color:white;
margin:0;
font-family:Arial;
}

/* HEADER */

.topbar{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 40px;
background:#12001a;
}

.topbar h1{
color:#ff2fd0;
line-height:0.9;
}

.topbar a{
color:#00ffe7;
margin-left:20px;
text-decoration:none;
}

/* TV */

.tv-section{
display:flex;
justify-content:center;
padding:50px;
}

.tv-frame{
width:900px;
height:500px;
background:black;
padding:25px;
border-radius:25px;
box-shadow:0 0 40px #00ffe7;
}

.tv-frame iframe{
width:100%;
height:100%;
border-radius:15px;
}

/* MOVIES */

.shelves{
padding:40px;
}

.movie-row{
display:flex;
gap:20px;
}

.movie-card{
width:160px;
background:#1b1b2f;
padding:10px;
border-radius:10px;
text-align:center;
cursor:pointer;
box-shadow:0 0 10px #ff2fd0;
}

.movie-card:hover{
transform:scale(1.05);
}

.movie-card img{
width:100%;
border-radius:6px;
}
