body{
background:#0b0b14;
color:white;
margin:0;
font-family:Arial, sans-serif;
}

/* HEADER */

.topbar{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 40px;
background:#12001a;
box-shadow:0 0 20px #ff2fd0;
}

.topbar h1{
color:#ff2fd0;
line-height:0.9;
margin:0;
}

.topbar nav a{
color:#00ffe7;
margin-left:25px;
text-decoration:none;
}

/* TV */

.tv-section{
display:flex;
justify-content:center;
padding:60px;
}

.tv-frame{
position:relative;
width:900px;
height:500px;
background:black;
padding:25px;
border-radius:25px;
animation:glow 3s infinite alternate;
box-shadow:0 0 40px #00ffe7;
}

@keyframes glow{
from{ box-shadow:0 0 25px #00ffe7;}
to{ box-shadow:0 0 60px #00ffe7;}
}

.tv-frame iframe{
width:100%;
height:100%;
border-radius:15px;
}

/* MOVIE*
